<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <style>
        main {
            margin: 0 8rem;
        }
        .transaction{
            width: 100%;
            margin-bottom: 30px;
            border-radius: 5px;
        }
        .inactiveText{
            color: gray;
        }
        .activeText{
            color: green;
        }
    </style>
</head>
<body>
    <header th:replace="~{fragments/header :: defaultHeader }"></header>
    <main>
        <h3>Compras</h3>
        <section class="card transaction" th:each="transaction : ${transactions}">
            <div style="display: flex; align-items: center; gap: 30px;">
                <h3 th:text="${#temporals.format(transaction.purchaseDate, 'dd MMM YYYY')}"></h3>
                <div style="display: flex; gap: 20px">
                    <p class="inactiveText" th:classappend="${transaction.isInProcessing()} ? activeText : ''">Em processamento</p>
                    <p class="inactiveText" th:classappend="${transaction.isInTransit()} ? activeText : ''">Em trânsito</p>
                    <p class="inactiveText" th:classappend="${transaction.isDelivered()} ? activeText : ''">Entregue</p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between" th:each="order : ${transaction.orders.deliveredOrders}">
                <div style="display: flex; gap: 20px">
                    <div style="width: 80px">
                        <img th:src="${order.product.image}" style="width: 100%">
                    </div>
                    <div>
                        <p th:text="${order.product.name}"></p>
                        <p th:text="'Quantidade: ' + ${order.totalProductQuantity}"></p>
                    </div>
                </div>
                <a class="primaryButton" style="height: fit-content" th:if="${transaction.isDelivered() && order.quantity != 0}" th:href="@{/orders/trade/{id}(id=${order.id})}">Solicitar Troca</a>
            </div>
            <h3 th:if="${transaction.orders.tradedOrders.size() > 0}">Trocas</h3>
            <div style="display: flex; justify-content: space-between" th:each="order : ${transaction.orders.tradedOrders}">
                <div style="display: flex; gap: 20px">
                    <div style="width: 80px">
                        <img th:src="${order.product.image}" style="width: 100%">
                    </div>
                    <div>
                        <p th:text="${order.product.name}"></p>
                        <p th:text="'Quantidade: ' + ${order.quantity}"></p>
                    </div>
                </div>

                <div style="display: flex; gap: 20px">
                    <p class="inactiveText" th:classappend="${order.status == T(org.fatec.esportiva.entity.enums.OrderStatus).EM_TROCA} ? activeText : ''">Em processamento</p>
                    <p class="inactiveText" th:classappend="${order.isSuccessfullyTraded()} ? activeText : ''">Trocado</p>
                </div>
            </div>

        </section>
        <script th:src="@{/js/notification.js}" sec:authorize="hasRole('ROLE_CLIENT')"></script>
    </main>
</body>
</html>