<turbo-stream action="update" th:attr="target='transaction_' + ${transaction.id}">
  <template>
    <div style="display: flex; align-items: center; gap: 30px;">
      <h3 th:text="${#temporals.format(transaction.purchaseDate, 'dd MMM YYYY')}"></h3>
      <div style="flex-grow: 1; display: flex; justify-content: space-between;">
        <div style="display: flex; gap: 20px" th:if="${!transaction.isCancelled()}">
          <p class="inactiveText" th:classappend="${transaction.isInProcessing()} ? activeText : ''">Em processamento</p>
          <p class="inactiveText" th:classappend="${transaction.isInTransit()} ? activeText : ''">Em trânsito</p>
          <p class="inactiveText" th:classappend="${transaction.isDelivered()} ? activeText : ''">Entregue</p>
        </div>
        <p th:if="${transaction.isCancelled()}">Compra cancelada</p>
        <div style="margin: auto 0">
          <form th:action="@{http://localhost:8080/transactions/trade/{id}(id=${transaction.getId()})}" method="post">
            <input type="hidden" name="_method" th:value="PATCH" />
            <button type="submit" class="primaryLink" th:attr="disabled=${!transaction.isDelivered() || transaction.isOrdersInTrade()}">Solicitar troca de todos os itens do pedido</button>
          </form>
        </div>
      </div>

    </div>
    <div style="display: flex; justify-content: space-between" th:each="order : ${transaction.orders.deliveredOrders}">
      <div style="display: flex; gap: 20px">
        <div style="width: 80px">
          <img th:src="${order.product.image}" style="width: 100%">
        </div>
        <div>
          <p th:text="${order.product.name}"></p>
          <p th:text="'Quantidade: ' + ${order.totalProductQuantity}"></p>
        </div>
      </div>
      <a class="primaryButton" style="height: fit-content" th:if="${transaction.isDelivered() && order.quantity != 0}" th:href="@{/orders/trade/{id}(id=${order.id})}">Solicitar Troca</a>
    </div>
    <h3 th:if="${transaction.orders.tradedOrders.size() > 0}">Trocas</h3>
    <div style="display: flex; justify-content: space-between" th:each="order : ${transaction.orders.tradedOrders}">
      <div style="display: flex; gap: 20px">
        <div style="width: 80px">
          <img th:src="${order.product.image}" style="width: 100%">
        </div>
        <div>
          <p th:text="${order.product.name}"></p>
          <p th:text="'Quantidade: ' + ${order.quantity}"></p>
        </div>
      </div>

      <p th:text="${order.status.getDisplayName()}"></p>
    </div>
  </template>
</turbo-stream>