<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title>Esportiva</title>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
</head>

<body>
    <header th:replace="~{fragments/admin_navbar.html :: admin_navbar('analysis')}"></header>
</body>

</html>