<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head_info.html :: head_info}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard_table.css}">
</head>

<body>
    <header th:replace="~{fragments/admin_navbar.html :: admin_navbar('log')}"></header>
    <main>

        <table class="w-full">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Data da operação</th>
                    <th>Tipo de operação</th>
                    <th>Conteúdo da operação</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="log : ${logs}">
                    <td th:id="'log-' + ${log.id}" th:text="${product.id}"></td>
                    <td th:id="'user-' + ${log.id}" th:text="${product.user}"></td>
                    <td th:id="'timestamp-' + ${log.id}" th:text="${product.timestamp}"></td>
                    <td th:id="'operation-' + ${log.id}" th:text="${product.operation}"></td>
                    <td th:id="'operationContent-' + ${log.id}" th:text="${product.operationContent}"></td>
                </tr>
            </tbody>
        </table>

    </main>
</body>

</html>