<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head_info.html :: head_info}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard_table.css}">
</head>

<body>
    <header th:replace="~{fragments/admin_navbar.html :: admin_navbar('stock')}"></header>
    <main>
        <div class="buttonsDiv">
            <div th:replace="~{fragments/product_filter.html :: filter}"></div>
            <button id="filterButton" onclick="toggleFilter()" style="width: fit-content">Filtros</button>
            <a id="createClientButton" th:href="@{/admin/products/new}" class="primaryButton">Novo Produto</a>
        </div>

        <table class="w-full">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de cadastro</th>
                    <th>Qtd estoque</th>
                    <th>Qtd bloqueada</th>
                    <th>Margem de lucro (%)</th>
                    <th>Custo (R$)</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                    <td th:id="'product-' + ${product.id}" th:text="${product.id}"></td>
                    <td th:id="'name-' + ${product.id}" th:text="${product.name}"></td>
                    <td th:id="'entryDate-' + ${product.id}" th:text="${product.displayEntryDate}"></td>
                    <td th:id="'stockQuantity-' + ${product.id}" th:text="${product.stockQuantity}"></td>
                    <td th:id="'blockedQuantity-' + ${product.id}" th:text="${product.blockedQuantity}">
                    </td>
                    <td th:id="'profitMargin-' + ${product.id}" th:text="${product.profitMargin * 100}"></td>
                    <td th:id="'costValue-' + ${product.id}" th:text="${product.costValue}"></td>
                    <td th:id="'inactivationCategory-' + ${product.id}" th:text="${product.inactivationCategory}"></td>

                    <td>
                        <!-- Botão de editar é um link -->
                        <a th:id="'edit-' + ${product.id}" th:href="@{/products/edit/{id}(id=${product.id})}"
                            style="display: inline-flex; align-items: center">
                            <img th:src="@{/images/pencil.svg}" width="15" height="15" alt="Ícone de lápis" />Editar
                        </a>

                        <!-- Botão de deletar cria um pop-up para a própria página -->
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post"
                            onsubmit="return confirm('Tem certeza que deseja excluir este produto?')">
                            <input type="hidden" name="_method" value="delete" />
                            <button th:id="'delete-' + ${product.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/trash-can.svg}" width="15" height="15"
                                    alt="Ícone de lixeira" />Deletar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>


    <script>
        function toggleFilter() {
            console.log("clicked");
            document.getElementById("filterModal").classList.toggle("hidden");
        }

        document.addEventListener("click", (event) => {
            const modal = document.getElementById("filterModal");

            if (!modal.classList.contains("hidden") && !modal.contains(event.target) && event.target.id != "filterButton") {
                modal.classList.add("hidden");
            }
        })

        // Reseta o filtro, apagando todos os parâmetros
        document.getElementById('filter-reset').addEventListener('click', function (event) {
            event.preventDefault(); // Impede o comportamento padrão do botão reset
            window.location.href = '/admin/products?name=&costValue=&status='; // Redireciona para a URL desejada
        });
    </script>

</body>

</html>