<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head_info.html :: head_info}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard_table.css}">
</head>

<body>
    <header th:replace="~{fragments/admin_navbar.html :: admin_navbar('logistic')}"></header>
    <header th:replace="~{fragments/logistic_navbar.html :: logistic_navbar('cancel_deliver')}"></header>
    <main>
        <div th:replace="~{fragments/logistic_dashboard.html :: dashboard_transaction('COMPRA_CANCELADA', true)}"></div>
    </main>
</body>

</html>