<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>

    <div class="address-item" th:fragment="form" th:each="address, i : *{addresses}">
        <input type="hidden" th:field="*{addresses[__${i.index}__].id}">
        <div>
            <label th:for="'residence_' + ${i.index}">Residencial</label>
            <input th:id="'residence_' + ${i.index}" type="checkbox" th:field="*{addresses[__${i.index}__].types}" value="RESIDENCE" />
            <label th:for="'billing_' + ${i.index}">Cobrança</label>
            <input th:id="'billing_' + ${i.index}" type="checkbox" th:field="*{addresses[__${i.index}__].types}" value="BILLING" />
            <label th:for="'shipping_' + ${i.index}">Entrega</label>
            <input th:id="'shipping_' + ${i.index}" type="checkbox" th:field="*{addresses[__${i.index}__].types}" value="SHIPPING" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label th:for="'cep_' + ${i.index}" class="block font-medium">CEP:</label>
                <input type="text" th:id="'cep_' + ${i.index}" th:field="*{addresses[__${i.index}__].cep}" required class="w-full p-2 border rounded" />
            </div>
            <div>
                <label th:for="'residencyType_' + ${i.index}" class="block font-medium">Tipo de Residência:</label>
                <select th:id="'residencyType_' + ${i.index}" th:field="*{addresses[__${i.index}__].residencyType}" class="w-full p-2 border rounded">
                    <option th:each="rt : ${T(org.fatec.esportiva.model.enums.ResidencyType).values()}" th:value="${rt}" th:text="${rt}"></option>
                </select>
            </div>
            <div>
                <label th:for="'streetType_' + ${i.index}" class="block font-medium">Tipo de logradouro:</label>
                <select th:id="'streetType_' + ${i.index}" th:field="*{addresses[__${i.index}__].streetType}" class="w-full p-2 border rounded">
                    <option th:each="st : ${T(org.fatec.esportiva.model.enums.StreetType).values()}" th:value="${st}" th:text="${st}"></option>
                </select>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label th:for="'street_' + ${i.index}" class="block font-medium">Logradouro:</label>
                <input type="text" th:id="'street_' + ${i.index}" th:field="*{addresses[__${i.index}__].street}" required class="w-full p-2 border rounded" />
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" />
            </div>
            <div>
                <label th:for="'number_' + ${i.index}" class="block font-medium">Numero:</label>
                <input type="text" th:id="'number_' + ${i.index}" th:field="*{addresses[__${i.index}__].number}" required class="w-full p-2 border rounded" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label th:for="'neighborhood_' + ${i.index}" class="block font-medium">Bairro:</label>
                <input type="text" th:id="'neighborhood_' + ${i.index}" th:field="*{addresses[__${i.index}__].neighborhood}" required class="w-full p-2 border rounded" />
            </div>
            <div>
                <label th:for="'city_' + ${i.index}" class="block font-medium">Cidade:</label>
                <input type="text" th:id="'city_' + ${i.index}" th:field="*{addresses[__${i.index}__].city}" required class="w-full p-2 border rounded" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label th:for="'state_' + ${i.index}" class="block font-medium">Estado:</label>
                <input type="text" th:id="'state_' + ${i.index}" th:field="*{addresses[__${i.index}__].state}" required class="w-full p-2 border rounded" />
            </div>
            <div>
                <label th:for="'country_' + ${i.index}" class="block font-medium">País:</label>
                <input type="text" th:id="'country_' + ${i.index}" th:field="*{addresses[__${i.index}__].country}" required class="w-full p-2 border rounded" />
            </div>
        </div>

        <div class="mb-[30px]">
            <label th:for="'observation_' + ${i.index}" class="block font-medium">Observação:</label>
            <textarea th:id="'observation_' + ${i.index}" th:field="*{addresses[__${i.index}__].observation}" class="w-full p-2 border rounded"></textarea>
        </div>

        <button type="button" class="removeAddressButton">Remover</button>
    </div>
</body>
</html>