<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment: Admin navbar</title>
</head>

<body>
    <header th:fragment="admin_navbar(activeItem)"
        class="flex items-center justify-between w-full mb-10 shadow-md p-4 bg-white">
        <nav>
            <ul>
                <li>
                    <img th:src="@{/images/logo.svg}" />
                </li>
                <li th:classappend="${activeItem == 'dashboard' ? 'active' : ''}">
                    <a href="/admin/clients">Clientes</a>
                </li>
                <li th:classappend="${activeItem == 'stock' ? 'active' : ''}">
                    <a href="/admin/products">Estoque</a>
                </li>
                <li th:classappend="${activeItem == 'logistic' ? 'active' : ''}">
                    <a href="/admin/logistic/in_processing">Entrega</a>
                </li>
                <li th:classappend="${activeItem == 'analysis' ? 'active' : ''}">
                    <a href="/admin/analysis">Análise</a>
                </li>
                <li th:classappend="${activeItem == 'log' ? 'active' : ''}">
                    <a href="/admin/logs">Log</a>
                </li>
                <li th:classappend="${activeItem == 'logout' ? 'active' : ''}">
                    <a href="/login">Logout</a>
                </li>
                <li>
                    <span sec:authentication="principal.name" class="profile-style">
                    </span>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>