<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>

<body>

    <form th:fragment="form" th:action="${formAction}" th:object="${user}" method="post">
        <ul th:if="${#fields.hasErrors('*')}" class="error">
            <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
        </ul>
        <input type="hidden" name="_method" th:value="${id} ? 'PATCH' : 'POST'" />
        <h3 class="text-xl font-semibold mt-6 mb-4">Dados Pessoais</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="name" class="block font-medium">Nome:</label>
                <input type="text" id="name" th:field="*{name}" class="w-full py-1 px-2 border rounded" />
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div>
                <label for="gender" class="block font-medium">Gênero:</label>
                <select id="gender" th:field="*{gender}" class="w-full py-1 px-2 border rounded">
                    <option th:each="g : ${T(org.fatec.esportiva.entity.enums.Gender).values()}" th:value="${g}"
                        th:text="${g}"></option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
            </div>
            <div th:if="${id} != null">
                <label for="name" class="block font-medium">Status:</label>
                <input type="text" id="status" th:field="*{status}" class="w-full py-1 px-2 border rounded" readonly />
                <span class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
            </div>
        </div>

        <div class="mb-4">
            <label for="email" class="block font-medium">E-mail:</label>
            <input type="text" id="email" th:field="*{email}" placeholder="exemplo@dominio.com"
                class="w-full py-1 px-2 border rounded" />
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="mb-4">
            <label for="cpf" class="block font-medium">CPF:</label>
            <input type="text" id="cpf" th:field="*{cpf}" placeholder="XXX.XXX.XXX-XX"
                class="w-full py-1 px-2 border rounded" />
            <span class="error" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
        </div>

        <div class="mb-4">
            <label for="dateBirth" class="block font-medium">Data de nascimento:</label>
            <input type="date" id="dateBirth" th:field="*{dateBirth}" class="w-full py-1 px-2 border rounded" />
            <span class="error" th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}"></span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="telephoneType" class="block font-medium">Tipo de telefone:</label>
                <select id="telephoneType" th:field="*{telephoneType}" class="w-full py-1 px-2 border rounded">
                    <option th:each="g : ${T(org.fatec.esportiva.entity.enums.PhoneType).values()}" th:value="${g}"
                        th:text="${g}"></option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('telephoneType')}" th:errors="*{telephoneType}"></span>
            </div>
            <div>
                <label for="telephone" class="block font-medium">Telefone:</label>
                <input type="text" id="telephone" th:field="*{telephone}" placeholder="(XX) XXXXX-XXXX"
                    class="w-full py-1 px-2 border rounded" />
                <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
            </div>
        </div>

        <h3 class="text-xl font-semibold mt-6 mb-4">Endereço(s)</h3>

        <div id="addresses" class="flex flex-col gap-10 mb-4">
            <div class="address-item p-5 border-2 border-gray-300 rounded-md" th:each="address, i : *{addresses}">
                <input type="hidden" th:field="*{addresses[__${i.index}__].id}">
                <div class="flex justify-end">
                    <button type="button"
                        class="removeAddressButton font-semibold text-gray-500 hover:text-red-400 cursor-pointer">Remover</button>
                </div>

                <div class="mb-4">
                    <div class="flex items-center space-x-2 gap-6">
                        <div>
                            <label th:for="'residence_' + ${i.index}">Residencial</label>
                            <input th:id="'residence_' + ${i.index}" type="checkbox"
                                th:field="*{addresses[__${i.index}__].types}" value="RESIDENCIA" />
                        </div>
                        <div>
                            <label th:for="'billing_' + ${i.index}">Cobrança</label>
                            <input th:id="'billing_' + ${i.index}" type="checkbox"
                                th:field="*{addresses[__${i.index}__].types}" value="COBRANCA" />
                        </div>
                        <div>
                            <label th:for="'shipping_' + ${i.index}">Entrega</label>
                            <input th:id="'shipping_' + ${i.index}" type="checkbox"
                                th:field="*{addresses[__${i.index}__].types}" value="ENTREGA" />
                        </div>
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].types')}"
                        th:errors="*{addresses[__${i.index}__].types}"></span>
                </div>

                <div class="mb-4">
                    <label th:for="'name_' + ${i.index}" class="block font-medium">Nome do endereço:</label>
                    <input type="text" th:id="'name_' + ${i.index}" th:field="*{addresses[__${i.index}__].name}"
                        class="w-full py-1 px-2 border rounded" />
                    <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].name')}"
                        th:errors="*{addresses[__${i.index}__].name}"></span>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
                    <div>
                        <label th:for="'cep_' + ${i.index}" class="block font-medium">CEP:</label>
                        <input type="text" th:id="'cep_' + ${i.index}" th:field="*{addresses[__${i.index}__].cep}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].cep')}"
                            th:errors="*{addresses[__${i.index}__].cep}"></span>
                    </div>
                    <div>
                        <label th:for="'residencyType_' + ${i.index}" class="block font-medium">Tipo de
                            Residência:</label>
                        <select th:id="'residencyType_' + ${i.index}"
                            th:field="*{addresses[__${i.index}__].residencyType}"
                            class="w-full py-1 px-2 border rounded">
                            <option th:each="rt : ${T(org.fatec.esportiva.entity.enums.ResidencyType).values()}"
                                th:value="${rt}" th:text="${rt}"></option>
                        </select>
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].residencyType')}"
                            th:errors="*{addresses[__${i.index}__].residencyType}"></span>
                    </div>
                    <div>
                        <label th:for="'streetType_' + ${i.index}" class="block font-medium">Tipo de logradouro:</label>
                        <select th:id="'streetType_' + ${i.index}" th:field="*{addresses[__${i.index}__].streetType}"
                            class="w-full py-1 px-2 border rounded">
                            <option th:each="st : ${T(org.fatec.esportiva.entity.enums.StreetType).values()}"
                                th:value="${st}" th:text="${st}"></option>
                        </select>
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].streetType')}"
                            th:errors="*{addresses[__${i.index}__].streetType}"></span>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label th:for="'street_' + ${i.index}" class="block font-medium">Logradouro:</label>
                        <input type="text" th:id="'street_' + ${i.index}" th:field="*{addresses[__${i.index}__].street}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].street')}"
                            th:errors="*{addresses[__${i.index}__].street}"></span>
                    </div>
                    <div>
                        <label th:for="'number_' + ${i.index}" class="block font-medium">Numero:</label>
                        <input type="text" th:id="'number_' + ${i.index}" th:field="*{addresses[__${i.index}__].number}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].number')}"
                            th:errors="*{addresses[__${i.index}__].number}"></span>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label th:for="'neighborhood_' + ${i.index}" class="block font-medium">Bairro:</label>
                        <input type="text" th:id="'neighborhood_' + ${i.index}"
                            th:field="*{addresses[__${i.index}__].neighborhood}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].neighborhood')}"
                            th:errors="*{addresses[__${i.index}__].neighborhood}"></span>
                    </div>
                    <div>
                        <label th:for="'city_' + ${i.index}" class="block font-medium">Cidade:</label>
                        <input type="text" th:id="'city_' + ${i.index}" th:field="*{addresses[__${i.index}__].city}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].city')}"
                            th:errors="*{addresses[__${i.index}__].city}"></span>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div>
                        <label th:for="'state_' + ${i.index}" class="block font-medium">Estado:</label>
                        <input type="text" th:id="'state_' + ${i.index}" th:field="*{addresses[__${i.index}__].state}"
                            class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].state')}"
                            th:errors="*{addresses[__${i.index}__].state}"></span>
                    </div>
                    <div>
                        <label th:for="'country_' + ${i.index}" class="block font-medium">País:</label>
                        <input type="text" th:id="'country_' + ${i.index}"
                            th:field="*{addresses[__${i.index}__].country}" class="w-full py-1 px-2 border rounded" />
                        <span class="error" th:if="${#fields.hasErrors('addresses[__${i.index}__].country')}"
                            th:errors="*{addresses[__${i.index}__].country}"></span>
                    </div>
                </div>

                <div>
                    <label th:for="'observation_' + ${i.index}" class="block font-medium">Observação:</label>
                    <textarea th:id="'observation_' + ${i.index}" th:field="*{addresses[__${i.index}__].observation}"
                        class="w-full py-1 px-2 border rounded"></textarea>
                </div>
            </div>
        </div>

        <div class="flex justify-center mb-10">
            <button class="bg-blue-300 hover:bg-blue-400 rounded-md py-2 px-4 cursor-pointer" type="button"
                th:onclick="addAddress()">Novo endereço</button>
        </div>

        <button type="submit"
            class="bg-blue-500 hover:bg-blue-600 cursor-pointer text-white font-bold py-2 px-4 rounded">Salvar</button>
    </form>
</body>

</html>