<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head_info">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsividade com celulares -->
    <meta name="description" content="E-commerce de artigos esportivos">
    <meta name="keywords" content="Esportiva, e-commerce">
    <meta name="author" content="Esportiva S.A.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Garante compatbilidade com navegadores antigos -->

    <title>Esportiva</title>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/local_tailwind.css}">
</head>

</html>