<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment: Logistic Dashboard</title>
</head>

<body>
    <div th:fragment="dashboard_transaction(transaction_status, readonly)">
        <h3 th:text="${#strings.replace(transaction_status, '_', ' ')}" style="text-align: center;"></h3><br>
        <table class="w-full">
            <thead>
                <tr>
                    <th>ID da transação</th>
                    <th>Data da transação</th>
                    <th>Cliente</th>
                    <th th:if="${readonly == false}">Aprovar</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:id="'transaction-' + ${transaction.id}" th:text="${transaction.id}"></td>
                    <td th:id="'purchaseDate-' + ${transaction.id}" th:text="${transaction.displayEntryDate}">
                    <td th:id="'client-' + ${transaction.id}" th:text="${transaction.client.name}"></td>

                    <!-- Botão de aprovar cria um pop-up para a própria página -->
                    <td th:if="${readonly == false}">
                        <form th:action="@{/admin/logistic/approve}" method="get"
                            onsubmit="return confirm('Tem certeza que deseja aprovar esta transação?')">
                            <input type="hidden" name="approval" value="true" />
                            <input type="hidden" name="stock" value="false" />
                            <input type="hidden" name="transaction" th:value="${transaction.id}" />
                            <button th:id="'approve-' + ${transaction.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/approval.svg}" width="18" height="18"
                                    alt="Ícone de Aprovação" />Aprovar
                            </button>
                        </form>
                        <form th:action="@{/admin/logistic/approve}" method="get"
                            onsubmit="return confirm('Tem certeza que deseja reprovar esta transação?')">
                            <input type="hidden" name="approval" value="false" />
                            <input type="hidden" name="stock" value="false" />
                            <input type="hidden" name="transaction" th:value="${transaction.id}" />
                            <button th:id="'reprove-' + ${transaction.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/cancel.svg}" width="15" height="15"
                                    alt="Ícone de Reprovação" />Reprovar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- ######################################################################################################### -->


    <div th:fragment="dashboard_order(order_status, readonly, stock)">
        <h3 th:text="${#strings.replace(order_status, '_', ' ')}" style="text-align: center;"></h3><br>
        <table class="w-full">
            <thead>
                <tr>
                    <th>ID do pedido</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Cliente</th>
                    <th th:if="${readonly == false}">Aprovar</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:id="'order-' + ${order.id}" th:text="${order.id}"></td>
                    <td th:id="'product-' + ${order.id}" th:text="${order.product.name}">
                    <td th:id="'quantity-' + ${order.id}" th:text="${order.quantity}"></td>
                    <td th:id="'client-' + ${order.id}" th:text="${order.transaction.client.name}"></td>

                    <!-- Botão de aprovar cria um pop-up para a própria página -->
                    <td th:if="${readonly == false}">
                        <form th:if="${stock == true}" th:action="@{/admin/logistic/approve}" method="get"
                            onsubmit="return confirm('Tem certeza que deseja aprovar este pedido e dar reentrada no estoque?')">
                            <input type="hidden" name="approval" value="true" />
                            <input type="hidden" name="stock" value="true" />
                            <input type="hidden" name="order" th:value="${order.id}" />
                            <button th:id="'approve-stock-' + ${order.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/approval.svg}" width="18" height="18"
                                    alt="Ícone de Aprovação" />Aprovar + Estoque
                            </button>
                        </form>
                        <form th:action="@{/admin/logistic/approve}" method="get"
                            onsubmit="return confirm('Tem certeza que deseja aprovar este pedido?')">
                            <input type="hidden" name="approval" value="true" />
                            <input type="hidden" name="stock" value="false" />
                            <input type="hidden" name="order" th:value="${order.id}" />
                            <button th:id="'approve-' + ${order.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/approval.svg}" width="18" height="18"
                                    alt="Ícone de Aprovação" />Aprovar
                            </button>
                        </form>
                        <form th:action="@{/admin/logistic/approve}" method="get"
                            onsubmit="return confirm('Tem certeza que deseja reprovar este pedido?')">
                            <input type="hidden" name="approval" value="false" />
                            <input type="hidden" name="stock" value="false" />
                            <input type="hidden" name="order" th:value="${order.id}" />
                            <button th:id="'reprove-' + ${order.id}" type="submit" class="btn btn-danger"
                                style="display: inline-flex; align-items: center">
                                <img th:src="@{/images/cancel.svg}" width="15" height="15"
                                    alt="Ícone de Reprovação" />Reprovar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>