<div th:fragment="product-form">
        <form id="product-form" th:action="${formAction}" th:object="${product}" method="post" class="[&_label]:block">
            <input type="hidden" name="_method" th:value="${id} ? 'PATCH' : 'POST'" />

            <section class="flex gap-10">
                <div>
                    <label for="name">Nome do produto</label>
                    <input type="text" id="name" name="name"  th:field="*{name}" required>
                    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div>
                    <label for="stockQuantity">Quantidade no estoque</label>
                    <input type="number" id="stockQuantity" th:field="*{stockQuantity}">
                </div>
            </section>

            <section class="flex gap-10">
                <article>
                    <label>Valor do custo (R$)</label>
                    <input type="hidden" th:field="*{costValue}">
                    <input type="text" id="moneyInput">
                    <span class="error" th:if="${#fields.hasErrors('costValue')}" th:errors="*{costValue}"></span>
                </article>
                <article>
                    <label for="pricingGroup" class="font-medium">Grupo de precificação</label>
                    <select id="pricingGroup" name="pricingGroup" th:field="*{pricingGroup}">
                        <option value="">Selecione uma opção</option>
                        <option th:each="p : ${pricingGroups}" th:value="${p.id}"
                            th:text="${p.name}"></option>
                    </select>
                    <span class="error" th:if="${#fields.hasErrors('pricingGroup')}" th:errors="*{pricingGroup}"></span>
                </article>
            </section>

            <label>Categoria de produto</label>
            <label th:each="category : ${productCategory}">
                <input type="checkbox" th:value="${category.id}" th:field="*{productCategoryIds}">
                <span th:text="${category.name}"></span>
            </label>
            <span class="error" th:if="${#fields.hasErrors('productCategoryIds')}" th:errors="*{productCategoryIds}"></span>

            <label for="description">Descrição do produto</label>
            <textarea id="description" name="description" maxlength="50" required></textarea>
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

            <label for="inactivationCategory">Status</label>
            <select id="inactivationCategory" name="inactivationCategory"  th:field="*{inactivationCategory}"
                class="w-full py-1 px-2 border border-gray-300 rounded">
                <option value="">Selecione uma opção</option>
                <option th:each="s : ${T(org.fatec.esportiva.entity.product.ProductStatus).values()}" th:value="${s}"
                    th:text="${s.getDisplayName()}"></option>
            </select>
            <span class="error" th:if="${#fields.hasErrors('inactivationCategory')}"
                th:errors="*{inactivationCategory}"></span>

            <article id="inactivationJustificationDiv" class="hidden">
                <label for="inactivationJustification">Justificativa de inativação</label>
                <textarea id="inactivationJustification" name="inactivationJustification" maxlength="50"></textarea>
                <span class="error" th:if="${#fields.hasErrors('inactivationJustification')}"
                      th:errors="*{inactivationJustification}"></span>
            </article>


            <label for="image">Imagem </label>
            <input type="text" id="image" name="image" th:field="*{image}" required>
            <span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>

            <img id="productImage" src="">

            <input type="submit" class="block" value="Salvar">
        </form>
</div>