<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Espotiva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: simpleHeader}"></header>
    <div th:if="${errorMessage}" class="errorMessageDiv">
        <span th:text="${errorMessage}"></span><div style="width:20px" id="errorMessageCloseButton"><img th:src="@{/images/icons/close.svg}" style="width:100%; cursor: pointer;" alt="fechar"></div>
    </div>
    <main>
        <section>
            <form th:action="@{/checkout/billing/save}" method="post">
                <input type="hidden" id="promotionalCouponCode" name="promotionalCouponCode" th:value="${checkoutSession.promotionalCouponCode}">
                <h1>Escolher como pagar</h1>
                <section class="card">
                    <div style="margin-bottom:10px"  th:each="creditCard : ${creditCards}">
                        <input type="checkbox" th:checked="${checkoutSession.getCreditCardIds().contains(creditCard.id)}" th:id="'billing_' + ${creditCard.id}" name="selectedCards" th:value="${creditCard.id}">
                        <label th:for="'billing_' + ${creditCard.id}" th:text="${creditCard.numberMask()}"></label>
                    </div>
                    <a th:href="@{/checkout/billing/new}" >Usar Novo cartão de crédito</a>
                </section>

                <section class="card">
                    <p>Cupons de troca</p>
                    <div th:each="voucher : ${vouchers}" style="margin-bottom: 10px">
                        <input type="checkbox" name="exchangeVouchers" th:checked="${checkoutSession.getExchangeVoucherIds().contains(voucher.id)}" th:id="'voucher_' + ${voucher.id}" th:value="${voucher.id}">
                        <label th:for="'voucher_' + ${voucher.id}" th:text="${voucher.formattedValue}"></label>
                    </div>
                </section>

                <button class="primaryButton" type="submit">Continuar</button>
            </form>
        </section>
        <section class="card">
            <form>
                <h1>Resumo da compra</h1>
                <div id="discountDiv" th:classappend="${promotionalCoupon == null} ? '' : hidden">
                    <label th:for="code">Cupom de desconto</label>
                    <div style="display: flex;">
                        <input th:type="text" id="code">
                        <button id="applyDiscountButton" type="button">Aplicar</button>
                    </div>
                </div>
            </form>
            <div id="discountCouponDiv" class="hidden" style="display: flex; justify-content: space-between;">
                <p id="discountCouponCode"></p>
                <p id="discountCouponValue"></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p>Produto(s)</p>
                <p th:text="${productsTotalPrice}"></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p>Frete</p>
                <p th:text="${checkoutSession.getAddress().getFormattedFreight()}"></p>
            </div>
            <div style="display: flex; justify-content: space-between;" th:classappend="${exchangeVoucherTotalPrice.equals('R$&nbsp;0,00')} ? 'hidden' : ''">
                <p>Cupon(s)</p>
                <p th:text="'- ' + ${exchangeVoucherTotalPrice}"></p>
            </div>
            <div th:if="${promotionalCoupon != null}" style="display: flex; justify-content: space-between;">
                <p th:text="${promotionalCoupon.code}"></p>
                <p th:text="${promotionalCoupon.discountValue}"></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p>Total</p>
                <p th:text="${cartTotalPrice}"></p>
            </div>
        </section>
    </main>
    <script>
        document.getElementById('applyDiscountButton').addEventListener('click', async () => {
            const code = document.getElementById('code').value;
            const response = await fetch(`/api/promotionalCoupon/${code}`);
            if(!response.ok) return;
            const result = await response.json();
            document.getElementById('discountDiv').hidden = true;
            document.getElementById('discountCouponDiv').classList.toggle("hidden");
            document.getElementById('discountCouponCode').innerText = result.code;
            document.getElementById('discountCouponValue').innerText = result.discountValue;
            document.getElementById('promotionalCouponCode').value = result.code;
        })

        document.getElementById('errorMessageCloseButton').addEventListener('click', function(){
            this.closest('.errorMessageDiv').classList.toggle("hidden");
        });
    </script>
</body>
</html>