<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Espotiva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: simpleHeader}"></header>
    <main>
        <section>
            <form th:action="@{/checkout/billing/save}" method="post">
                <h1>Escolher Cartão de crédito</h1>
                <div class="card" th:each="creditCard : ${creditCards}">
                    <input type="checkbox" th:id="'billing_' + ${creditCard.id}" name="selectedCards" th:value="${creditCard.id}">
                    <label th:for="'billing_' + ${creditCard.id}" th:text="${creditCard.numberMask()}"></label>
                </div>

                <a th:href="@{/checkout/billing/new}" >Usar Novo cartão de crédito</a>
                <button class="primaryButton" type="submit">Continuar</button>
            </form>
        </section>
        <section>
            <div th:replace="~{fragments/purchaseSummary :: summary}"></div>
        </section>
    </main>
</body>
</html>