main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.mainPanel {
    width: 40%;
}
.summaryDiv{
    background-color: white;
    padding: 20px;
    height: 80%;
}

.card{
    margin-bottom: 20px;
}