.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

.activeRow,
.collapsible:hover {
    background-color: #555;
}

.content {
    display: none;
    overflow: hidden;
    background-color: inherit;
}