html,
body {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh
}

main {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    align-items: center;
}

form {
    width: -webkit-fill-available;
}

select {
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
}

button {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 8px 8px;
    cursor: pointer;
}

img {
    margin-bottom: 40px;
}

#userSelect {
    margin-bottom: 40px;
}

/* Aplica uma cor personalizada quando é um administrador (Identificado pelo domínio do e-mail)*/
.admin-style {
    color: red;
    font-weight: bold;
}