.admin-style {
  color: red;
  font-weight: bold;
}

.primaryButton{
    border: none;
    background-color: #0A54FF;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.primaryButton:hover{
    background-color: #0747db;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
}
#submitButton {
    background-color: #0A54FF;
    padding: 7px 9px;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: none
}
