.admin-style {
  color: red;
  font-weight: bold;
}

.primaryButton{
    border: none;
    background-color: #0A54FF;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.primaryButton:hover{
    background-color: #0747db;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
}
#submitButton {
    background-color: #0A54FF;
    padding: 7px 9px;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: none
}

#loginDiv {
  max-width: 500px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  align-items: center;
  background-color: #ffffff;
}

#userSelect {
  margin-bottom: 40px;
}
