/* Aplica um fundo cinza para campos somente leitura */
input[readonly] {
    /* Coloração cinza */
    background-color: #f0f0f0;

    /* Cor do texto */
    color: #6c757d;

    /* Cor da borda */
    border: 2px solid #ced4da;
}