<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/head_info.html :: head_info}"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/readonly.css}">
  <style>
    .error {
      color: red;
    }
  </style>
</head>

<body class="bg-gray-100">
  <header th:replace="~{fragments/header.html :: header}"></header>
  <main class="max-w-3xl mx-auto mb-10">
    <div class="mb-5">
      <a th:href="@{/admin/clients}" class="p-2 rounded mb-[10px] text-white self-end w-fit bg-blue-500">Voltar</a>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-4">Editar Usuário</h2>
      <div th:replace="~{fragments/user_form.html :: form}"></div>
    </div>
  </main>
  <script th:src="@{/js/form.js}"></script>
</body>

</html>