<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/head_info.html :: head_info}"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/readonly.css}">
    <style>
        main {
      max-width: 750px;
      margin: auto;
      margin-bottom: 10px;
    }

    .primaryButton {
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: fit-content;
        text-decoration: none;
        margin-bottom: 10px;
      }

      .formPannel{
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px;
        padding: 20px;
      }
    </style>
</head>

<body>
  <header th:replace="~{fragments/header.html :: defaultHeader}"></header>
  <main th:fragment="content">
    <div class="mb-5">
      <a th:href="@{/admin/clients}" class="primaryButton">Voltar</a>
    </div>
    <div class="formPannel">
      <h2 class="text-2xl font-semibold mb-4">Cadastro de Usuário</h2>
      <div th:replace="~{fragments/user_form.html :: form}"></div>
    </div>
  </main>
  <script th:src="@{/js/form.js}"></script>
</body>

</html>