<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/readonly.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    main {
      max-width: 750px;
      margin: auto;
      margin-bottom: 10px;
    }

    .primaryButton {
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: fit-content;
        text-decoration: none;
        margin-bottom: 10px;
      }

      .formPannel{
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px;
        padding: 20px;
      }
  </style>
</head>

<body>
  <header th:replace="~{fragments/header.html :: header}"></header>
  <main th:fragment="content">
    <div class="mb-5">
      <a th:href="@{/admin/clients}" class="primaryButton">Voltar</a>
    </div>
    <div class="formPannel">
      <h2 class="">Cadastro de Usuário</h2>
      <div th:replace="~{fragments/form.html :: form}"></div>
    </div>
  </main>
  <script th:src="@{/js/form.js}"></script>
</body>

</html>