<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esportiva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
</head>
<body>
  <header th:replace="fragments/header.html :: simpleHeader"></header>
  <main>
    <section class="mainPanel">
        <form th:action="@{/checkout/address/save}" method="post" th:object="${address}">
            <h1>Escolher Endereço</h1>
            <div class="card" th:each="address : ${addresses}">
                <input type="radio" th:field="*{id}" th:id="'address_' +  ${address.id}" name="address" th:value="${address.id}">
                <h1 th:text="${address.getAddressIdentificationPhrase()}"></h1>
                <label th:for="'address_' +  ${address.id}" th:text="${address.cep.street} + ',' + ${address.cep.cep}"></label>
            </div>

          <a th:href="@{/checkout/address/new}" >Usar Novo Endereço</a>
            <button class="primaryButton" type="submit">Continuar</button>
        </form>
    </section>
    <section>
        <div th:replace="fragments/purchaseSummary :: summary"></div>
    </section>
  </main>
</body>
</html>