<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>esportiva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <style>
    main {
      margin: 0 auto;
      width: 60%;
    }
  </style>
</head>
<body>
<header th:replace="~{fragments/header :: defaultHeader }"></header>
  <main style="display: flex; gap: 30px; justify-content:center; background-color: white; padding: 10px; border-radius: 10px;">
    <div style="width: 30%">
      <img th:src="@{/images/ball.png}" style="width: 100%">
    </div>
    <section style="width: 70%">
      <h1>Bola de volei</h1>
      <p>R$ 48,32</p>
      <button class="primaryButton" style="width: 100%" type="submit">Adicionar ao carrinho</button>
    </section>
  </main>
</body>
</html>