<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Esportiva</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">
  <style>
    .summaryDiv {
      height: fit-content;
    }
  </style>
</head>

<body>
  <header th:replace="~{fragments/header.html :: simpleHeader}"></header>
  <main>
    <section class="mainPanel">
      <div class="card">
        <h1 th:text="${address.getAddressIdentificationPhrase()}"></h1>
        <p th:text="${address.street} + ',' + 'cep: ' + ${address.cep}"></p>
        <a th:href="@{/checkout/address}">Mudar endereço</a>
      </div>
      <div class="card">
        <div th:each="item : ${items}" style="display: flex; gap: 20px; align-items:center">
          <div style="width: 60px">
            <img th:src="${item.product.image}" style="width: 100%">
          </div>
          <div>
            <h4 th:text="${item.product.name} + ' - Qtd:' +  ${item.quantity}"></h4>
            <p th:text="${item.getFormattedTotalPrice()}"></p>
          </div>

        </div>
      </div>
      <div class="card">
        <p th:each="creditCard : ${creditCards}" th:text="${creditCard.numberMask}"></p>
        <a th:href="@{/checkout/billing}">Mudar pagamento</a>
      </div>
    </section>
    <section>
      <div class="card summaryDiv">
        <form th:action="@{/checkout/save}" method="post">
          <h1>Resumo da compra</h1>
          <div style="display: flex; justify-content: space-between;">
            <p>Produto(s)</p>
            <p id="summaryProductsTotalPrice" th:text="${productsTotalPrice}"></p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p>Frete</p>
            <p id="summaryFreight" th:text="${address.getFormattedFreight()}"></p>
          </div>
          <div th:if="${promotionalCoupon != null}" style="display: flex; justify-content: space-between;">
            <p id="discountCouponCode" th:text="${promotionalCoupon.code}"></p>
            <p id="discountCouponValue" th:text="'- ' + ${promotionalCoupon.discountValue}"></p>
          </div>
          <div style="display: flex; justify-content: space-between;"
            th:classappend="${exchangeVoucherTotalPrice.equals('R$&nbsp;0,00')} ? 'hidden' : ''">
            <p>Cupon(s)</p>
            <p id="summaryVouchers" th:text="'- ' + ${exchangeVoucherTotalPrice}"></p>
          </div>
          <div th:if="${!creditCardPayment.isEmpty() && creditCardPayment.size() > 1}">
            <p>Pago com cartão</p>
            <div th:each="payment : ${creditCardPayment}" style="display: flex; justify-content: space-between;">
              <p th:text="${payment.number}"></p>
              <p th:text="${payment.formattedPrice}"></p>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p>Total</p>
            <p id="summaryTotalPrice" th:text="${cartTotalPrice}"></p>
          </div>

          <button id="button-confirm-shopping" class="primaryButton" style="width: 100%" type="submit">Confirmar
            Compra</button>
        </form>
      </div>
    </section>
  </main>
</body>

</html>